{% extends "base.html" %}
{% block title %}অপেক্ষা করুন{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="text-center">
    <p class="lead">আপনার প্রজেক্ট শুরুর তারিখের জন্য অপেক্ষা করুন</p>
  </div>
  <div class="text-center mt-4">
    <p class="lead">নিচে আমাদের প্রকল্প নিয়ে ভিডিও আছে</p>
    <div class="ratio ratio-16x9" style="max-width: 720px; margin: auto;">
      <iframe 
        src="https://www.youtube.com/embed/CcCQfHo9LyA" 
        title="খাসি ছাগল বা ছোট ছাগল" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
{% endblock %}
